<div class="container">
    <div class="row login">
        <div class="col-md-4 offset-md-4">
            <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
                <mat-card class="login-card text-center">
                    <mat-card-header>
                        <mat-card-title>Login Information</mat-card-title>
                    </mat-card-header>
    
                    <mat-card-content>
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="fill" class="full-width w-100">
                                    <mat-label>Enter your email</mat-label>
                                    <input matInput placeholder="Email" formControlName="email">
                                    <button mat-icon-button matSuffix>
                                        <mat-icon aria-hidden="false" aria-label="Email icon">email</mat-icon>
                                    </button>
                                    <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                                        Email is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
                                        Email is <strong>invalid</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Enter your password</mat-label>
                                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
                                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                                        Password is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>

                    <mat-card-actions>
                        <div class="row">
                            <div class="col">
                                <button class="w-100" routerLink="/dashboard" mat-raised-button [disabled]="!loginForm.valid" color="primary" type="submit">Login</button>
                            </div>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
    </div>
</div>


  